In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2021-09-16 23:41:13,-24.7911,-50.0119,54.05,96,100,9.06
1,1,Bluff,NZ,2021-09-16 23:41:14,-46.6000,168.3333,45.81,52,81,12.86
2,2,New Norfolk,AU,2021-09-16 23:41:14,-42.7826,147.0587,53.92,62,27,1.99
3,3,Atuona,PF,2021-09-16 23:41:14,-9.8000,-139.0333,77.23,79,18,15.90
4,4,Barrow,US,2021-09-16 23:41:15,71.2906,-156.7887,33.82,93,90,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Atuona,PF,2021-09-16 23:41:14,-9.8000,-139.0333,77.23,79,18,15.90
8,8,Turbat,PK,2021-09-16 23:41:15,26.0023,63.0440,85.59,47,0,0.81
15,15,Kavieng,PG,2021-09-16 23:41:17,-2.5744,150.7967,82.96,70,54,8.95
16,16,Samarai,PG,2021-09-16 23:41:18,-10.6167,150.6667,77.67,74,93,18.57
23,23,Charkhi Dadri,IN,2021-09-16 23:41:19,28.6000,76.2667,75.70,82,65,4.94
31,31,Soe,ID,2021-09-16 23:41:22,-9.8607,124.2840,76.33,47,97,6.73
33,33,Hilo,US,2021-09-16 23:40:04,19.7297,-155.0900,84.27,77,90,6.91
36,36,Avarua,CK,2021-09-16 23:41:23,-21.2078,-159.7750,78.85,73,40,21.85
38,38,Acapulco,MX,2021-09-16 23:38:05,16.8634,-99.8901,85.82,70,75,4.61
39,39,Tiarei,PF,2021-09-16 23:41:24,-17.5333,-149.3333,84.22,72,15,20.04

In [20]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Atuona      PF     77.23  -9.8000 -139.0333
8          Turbat      PK     85.59  26.0023   63.0440
15        Kavieng      PG     82.96  -2.5744  150.7967
16        Samarai      PG     77.67 -10.6167  150.6667
23  Charkhi Dadri      IN     75.70  28.6000   76.2667
31            Soe      ID     76.33  -9.8607  124.2840
33           Hilo      US     84.27  19.7297 -155.0900
36         Avarua      CK     78.85 -21.2078 -159.7750
38       Acapulco      MX     85.82  16.8634  -99.8901
39         Tiarei      PF     84.22 -17.5333 -149.3333

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Atuona,PF,77.23,-9.8000,-139.0333,Villa Enata
8,Turbat,PK,85.59,26.0023,63.0440,Mubashar Quarters
15,Kavieng,PG,82.96,-2.5744,150.7967,Nusa Island Retreat
16,Samarai,PG,77.67,-10.6167,150.6667,Nuli Sapi
23,Charkhi Dadri,IN,75.70,28.6000,76.2667,Ombir Sheoran
31,Soe,ID,76.33,-9.8607,124.2840,Dena Hotel
33,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
36,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
38,Acapulco,MX,85.82,16.8634,-99.8901,HS Hotsson Smart Acapulco
39,Tiarei,PF,84.22,-17.5333,-149.3333,Le Rocher de Tahiti

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]